@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@500&family=Nunito&family=Poppins:wght@600&family=Quicksand:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #fab22d;
    --secondary-color:#E0FFFA;
    --font-color-1:  #4b4140;
    --font-color-2:  #2E716F;
    --button-1: #e9204f;
    --button-2: #3FA9A6;
    --font-1: 'Quicksand', sans-serif;
    --font-2: 'Gabarito', cursive;
}

.bor{
    border: 1px solid #000;
}

html,
body {
    /* overflow-x: hidden; */
}

button {
    cursor: pointer;
}

a{
    text-decoration: none;
}
p{
    /* font-family: 'Nunito', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Quicksand', sans-serif; */
    font-family: var(--font-2);
    color: var(--font-color-1);
    font-size: 32px;
}

h1{
    font-size: 48px;
    color: var(--font-color-2);
    font-family: var(--font-2);
}

.d-none{
    display: none;
}
ul {
    list-style: none;
}

.my-container {
    max-width: 90%;
    margin: auto;
}

.flex {
    display: flex;
    align-items: center;
}


@media (max-width:500px) {
    p{
        font-size: 22px;
    }
    h1{
        font-size: 30px;
    }
}


/*------------------- header-------------------- */
.header {
    background-color: var(--secondary-color);
    height: 15vh;
    /* overflow: hidden; */
    position: sticky;
    /* box-shadow:1px 2px 20px 9px #98a2a3;; */
    width: 100%;
    top: 0;
    z-index: 9999;
}

.inner-header {
    justify-content: space-between;
    height: 100%;
}

nav{
    transition: all 20s linear;

}

.navbar {
    gap: 25px;
}
 .nav-links{
    font-family: var(--font-2);
    color: var(--font-color-1);
    cursor: pointer;
}
.nav-links:hover:not(.active-link){
    background-color: #b6e0cff6;
    padding: 3px 10px;
    border-radius: 50px;
    
}

.active-link{
    background-color: var(--button-2);
    color: white;
    padding: 3px 30px;
    border-radius: 50px;
}

.logo img {
    /* border: 1px solid #000; */
    margin-top: 20px;
}

.hm {
    /* background-color: #3fabab; */
    /* background-color: var(--secondary-color); */
    display: none;
    border-radius: 4px;
}
.hm:hover{
}
.hb {
    cursor: pointer;
    /* padding:  3px; */
    height: 40px;
    width: 40px;
    padding: 4px 4px 0 4px;
    /* place-items: center; */
    /* display: none; */
}
.hb:hover{
    background-color: #b6e0cff6;
    border-radius: 10px;
}

.hb-line {
    background: var(--secondary-color);
    background-color: #f8f8f8;
    /* background-color: #4b4140; */
    background-color: #3fabab;
    height: 4px;
    border-radius: 10%;
    position: relative;
    margin-top: 5px;
}

.hb-line-1 {
    width: 100%;
}

.hb-line-2 {
    width: 80%;
    left: 20%;
}

.hb-line-3 {
    width: 60%;
    left: 40%;
}


.close {
    display: none;
    padding: 0 3px;
    height: 40px;
    width: 40px;
    position: relative;
    cursor: pointer;
    /* background-color: rgb(75, 190, 190); */
    padding: 4px 4px 0 4px;
    border-radius: 5px;
    /* padding: 35px 10px 0 0px; */
}
.close:hover{
    background-color: #b6e0cff6;
    border-radius: 10px;
}
.close i{
    color: var(--button-2);
    font-size: 25px;
}
.close .line {
    position: absolute;
    /* color: #f8f8f8; */
    /* color: var(--secondary-color); */
    
    /* color: #4b4140; ; */
    border-radius: 10%;
    top: 22%;
    left: 31%;
    border-radius: 5px;

}

.close.open {
    display: block;
}

/* nav{
    height: 40vh;
    position: absolute;
    top: 115px;
    left: 2%;
    right: 2%;
    background-color:var(--secondary-color);
   border-radius: 10px;
}

.navbar{
    flex-direction: column;
    margin-top: 30px;

} */

@media  (max-width:768px) {
    nav{
        display: none;
        /* border: 1px solid #000; */
    }
    .nav.nb{
        display: block;
        min-height: 45vh;
        position: absolute;
        top: 115px;
        left: 2%;
        right: 2%;
        background-color:var(--secondary-color);
       border-radius: 10px;
    box-shadow:1px 2px 20px 9px #98a2a3;;

    }

    .navbar.nbb{
        flex-direction: column;
        /* border: 1px solid #000; */
        margin-top: 30px;
    }

    .navbar button{
        display: block;
        border: none;
        background-color: var(--button-1);
        color: white;
        padding: 15px 50px;
        border-radius: 50px;
        box-shadow:0px 12px 16px 0px #f3b0c0;

    }
    .navbar button:hover{
        transform: scale(.9)
    }
    .hm{
        display: block;
    }
}




/* ------------------------------- */


.s {
    font-family: var(--font-1);
    padding: 10px 20px;
    border: none;
    margin-top: 10px;
    color: white;
    margin-left: 50px;
    border-radius: 1px;
}

.s-1 {
    background-color: var(--button-1);
}

.s-2 {
    background: var(--button-2);
}
main{
    background-color: var(--secondary-color);
}
.hero-section{
    min-height: 60vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.hero-section .hero-left{
    height: 100%;
    padding:70px 40px;
    /* width: 50%; */
    flex: 50%;
    text-align: center;

}
.hero-section .hero-left button {
background-color: var(--button-2);
color: white;
border: none;
font-size: 18px;
padding: 15px 30px;
margin-top: 25px;
border-style: dashed;
text-align: start;
}

.hero-section .hero-left button:hover{
    transform: scale(.9)
}


.hero-section .hero-right{
    flex: 50%;
    text-align: center;
}


.hero-section .hero-right img{
    height: 350px;
}

@media (max-width:500px) {
    .hero-section .hero-right img{
        height: 200px;
    }
    
}



.h{
    /* background-color: white; */
    background-color: #ffffff;
    box-shadow:1px 2px 20px 9px #e5edf0;;

}



::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    /* background: #92cace;  */

  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #92cace; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    /* background: #555;  */
  }